@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;

  --font-size-largest: 2.2rem;
  --font-size-larger: 1.8rem;
  --font-size-large: 1.4rem;
  --font-size-small: 0.875rem;

  --font-weight-bold: 600;
  --font-weight-bolder: 700;
  --font-weight-boldest: 800;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overscroll-behavior-x: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: square;
  color: var(--color-text-light);
}

h1 {
  font-size: var(--font-size-largest);
  font-weight: var(--font-weight-bolder);
  color: var(--color-text-light);
}

h2 {
  font-size: var(--font-size-larger);
  font-weight: var(--font-weight-boldest);
  color: var(--color-text-light);
}

h3 {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-boldest);
  color: var(--color-text-light);
}

p {
  max-width: 80ch;
  font-weight: var(--font-weight-bold);
  color: var(--color-text-light);
}

span {
  font-size: var(--font-size-small);
}
