@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;

  --font-size-largest: 2.2rem;
  --font-size-larger: 1.8rem;
  --font-size-large: 1.4rem;
  --font-size-normal: 1rem;
  --font-size-small: 0.875rem;

  --font-weight-bold: 600;
  --font-weight-bolder: 700;
  --font-weight-boldest: 800;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .hero-border > div {
    border-bottom: 2px solid rgba(51, 65, 85, 1);
  }

  .hero-border > div:last-child {
    border: none;
  }

  .hero-coins > div {
    padding: 2rem 0;
  }

  .hero-coins > div > div > div > .saveCoinBtn {
    display: none;
  }
  
  .card-grid > div:hover {
    background-color: indigo;
  }
}

@media screen and (min-width: 1400px) {
  @layer components {
    .hero-border-lg > div {
      border-right: 2px solid rgba(51, 65, 85, 1);
      border-bottom: none;
    }
  }
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overscroll-behavior-x: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  color: var(--color-text-light);
}

h1 {
  font-size: var(--font-size-largest);
  font-weight: var(--font-weight-bolder);
  color: var(--color-text-light);
}

h2 {
  font-size: var(--font-size-larger);
  font-weight: var(--font-weight-boldest);
  color: var(--color-text-light);
}

h3 {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-boldest);
  color: var(--color-text-light);
}

p {
  max-width: 80ch;
  font-weight: var(--font-weight-bold);
  color: var(--color-text-light);
}

span {
  font-size: var(--font-size-small);
}
